@model App.Models.Regiao

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Regiao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagemDanca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImagemDanca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Danca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Danca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagemCulinaria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImagemCulinaria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Culinaria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Culinaria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagemMusica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImagemMusica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Musica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Musica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagemFestas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImagemFestas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Festas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Festas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagemFolclore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImagemFolclore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Folclore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Folclore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagemArtesanato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImagemArtesanato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Artesanato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Artesanato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagemVestimenta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImagemVestimenta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vestimenta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vestimenta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagemLiteratura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImagemLiteratura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Literatura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Literatura)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdRegiao">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
